.summary h4 {
    margin-bottom: 0px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.progress {
    margin: 0px;
    margin-top: 10px;
    height: 20px;
}
.summary {
    padding: 5px;
}

.summary-parameters, .summary-calculation {
    height: 100%;
}

.summary .summary-value {
    font-size: 18px;
}