<h3>Symulacja zmiany raty dla zmian stóp procentowych</h3>
 <!--  <h1>Symulacja zmiany stóp procentowych</h1> -->
 <table mat-table [dataSource]="symulacja" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->


    <ng-container matColumnDef="stopaProcentowa">
        <th mat-header-cell *matHeaderCellDef> % </th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.interestRate.toFixed(2) }} % </span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.interestRateDiff < 0}">
                <span class="diff-amount"><span *ngIf="element.interestRateDiff > 0">+</span>{{element.interestRateDiff.toFixed(2)}} pp</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="rata">
        <th mat-header-cell *matHeaderCellDef> Rata </th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.monthlyPayment | currency : "PLN" }}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.monthlyPaymentDiff < 0}">
                <span class="diff-amount"><span *ngIf="element.monthlyPaymentDiff > 0">+</span>{{element.monthlyPaymentDiff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.monthlyPaymentDiffPercent > 0">+</span>{{element.monthlyPaymentDiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="rataOdsetki">
        <th mat-header-cell *matHeaderCellDef> Odsetki</th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.pierwszaRata.odsetki | currency : "PLN" }}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetkiDiff < 0}">
                <span class="diff-amount"><span *ngIf="element.odsetkiDiff > 0">+</span>{{element.odsetkiDiff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.odsetkiDiffPercent > 0">+</span>{{element.odsetkiDiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="rataKapital">
        <th mat-header-cell *matHeaderCellDef> Kapitał </th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.pierwszaRata.kapital | currency : "PLN" }}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.kapitalDiff > 0}">
                <span class="diff-amount"><span *ngIf="element.kapitalDiff > 0">+</span>{{element.kapitalDiff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.kapitalDiffPercent > 0">+</span>{{element.kapitalDiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="10odsetki">
        <th mat-header-cell *matHeaderCellDef> Odsetki<br><span *ngIf="loanMonths >= 120">10 lat</span><span *ngIf="loanMonths < 120">{{ loanMonths }} miesięcy</span> </th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.odsetkiSuma10Lat | currency : "PLN"}}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetki10Diff < 0}">
                <span class="diff-amount"><span *ngIf="element.odsetki10Diff > 0">+</span>{{element.odsetki10Diff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.odsetki10DiffPercent > 0">+</span>{{element.odsetki10DiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="10kapital">
        <th mat-header-cell *matHeaderCellDef> Kapitał<br><span *ngIf="loanMonths >= 120">10 lat</span><span *ngIf="loanMonths < 120">{{ loanMonths }} miesięcy</span></th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.kapitalSuma10Lat | currency : "PLN"}}</span>
            <div *ngIf="!element.current && loanMonths > 120" [ngClass]="{'diff-green': element.kapital10Diff > 0}">
                <span class="diff-amount"><span *ngIf="element.kapital10Diff > 0">+</span>{{element.kapital10Diff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.kapital10DiffPercent > 0">+</span>{{element.kapital10DiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="odsetkiSuma">
        <th mat-header-cell *matHeaderCellDef> Odsetki suma </th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.odsetkiSuma | currency : "PLN"}}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetkiSumaDiff < 0}">
                <span class="diff-amount"><span *ngIf="element.odsetkiSumaDiff > 0">+</span>{{element.odsetkiSumaDiff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.odsetkiSumaDiffPercent > 0">+</span>{{element.odsetkiSumaDiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="calyKoszt">
        <th mat-header-cell *matHeaderCellDef>Koszt całkowity</th>
        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
            <span> {{element.splataRazem | currency : "PLN"}}</span>
            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.splataRazemDiff < 0}">
                <span class="diff-amount"><span *ngIf="element.splataRazemDiff > 0">+</span>{{element.splataRazemDiff | currency : "PLN"}}</span> <span class="diff-percent"><span *ngIf="element.splataRazemDiffPercent > 0">+</span>{{element.splataRazemDiffPercent | percent}}</span>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="simulationDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: simulationDisplayedColumns;"></tr>
</table>