.summary{
    background: purple;
    color: white;
    padding: 10px;
    font-weight: 200;
}

.summary-parameters{
    background: rgb(20, 172, 0);
    color: white;
    padding: 10px;
    font-weight: 200;
    margin-bottom: 1px;
}

table td{
    min-width: 100px;
}

.center {
    padding: 14px 0;
    margin: 0px;
    line-height: 35px;
    }
    
.center2 {
    padding: 5px 0;
    margin: 0px;
    line-height: 20px;
 }

.slider-label
{
    width: 35px;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}

.current-row{
    background: purple;
    color: white;
}
