<br>
<div class="container-xxl calc">
    <h1>Kalkulator kredytowy</h1>
    <div class="row">

        <div class="col-md-6">
            <div>
                <div class="parameter-label">Kwota kredytu</div>
                <div>
                    <mat-slider thumbLabel [displayWith]="formatAmount" aria-label="units" [min]="loanAmountMin" [max]="loanAmountMax" [step]="10000" [(ngModel)]="loanAmount"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">10K</div>
                    <div class="float-end">1M</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeAmount(-10000)">-</button>
                        <input (keypress)="isValidInt($event)" type="text" class="form-control" (change)="changeAmountInput($event)" value="{{ loanAmount| number :'1.0' }}">
                        <span class="input-group-text">PLN</span>
                        <button class="btn btn-warning" type="button" (click)="changeAmount(10000)">+</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="parameter-label">Okres spłaty w miesiącach</div>
                <div>
                    <mat-slider thumbLabel [min]="loanMonthsMin" [max]="loanMonthsMax" [step]="1" [(ngModel)]="loanMonths"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">{{loanMonthsMin}}</div>
                    <div class="float-end">{{loanMonthsMax}}</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeMonths(-1)">-</button>
                        <input (keypress)="isValidInt($event)" type="text" class="form-control" (change)="changeMonthsInput($event)" value="{{ loanMonths| number :'1.0' }}">
                        <span class="input-group-text" style="padding: 0px 3px;"><span>miesięcy (lat {{loanYears}}</span><span>&nbsp; mies. {{loanYearsRestMonths}}</span>)</span>
                        <button class="btn btn-warning" type="button" (click)="changeMonths(1)">+</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="parameter-label">WIBOR</div>
                <div>
                    <mat-slider thumbLabel [displayWith]="formatIntersetRate" [min]="interestRateMin" [max]="interestRateMax" [step]="0.05" [(ngModel)]="interestRate"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">{{interestRateMin}}%</div>
                    <div class="float-end">{{interestRateMax}}%</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changePercent(-0.05)">-</button>
                        <input (keypress)="isValidPercent($event)" (change)="changePercentInput($event)" type="text" class="form-control" value="{{ interestRate | number :'1.2-2' }}">
                        <span class="input-group-text">%</span>
                        <button class="btn btn-warning" type="button" (click)="changePercent(0.05)">+</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="parameter-label">Marża banku</div>
                <div>
                    <mat-slider thumbLabel [displayWith]="formatMarginRate" [min]="marginMin" [max]="marginMax" [step]="0.05" [(ngModel)]="margin"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">{{marginMin}}%</div>
                    <div class="float-end">{{marginMax}}%</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeMargin(-0.05)">-</button>
                        <input (keypress)="isValidPercent($event)" (change)="changeMarginInput($event)" type="text" class="form-control" value="{{ margin | number :'1.2-2' }}">
                        <span class="input-group-text">%</span>
                        <button class="btn btn-warning" type="button" (click)="changeMargin(0.05)">+</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="parameter-label">Typ raty</div>
                <div class="center-numeric">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="stałe" [(ngModel)]="type">
                        <label style="width: 150px;" class="btn btn-outline-warning" for="btnradio1">Raty stałe</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="malejące" [(ngModel)]="type" autocomplete="off">
                        <label style="width: 150px;" class="btn btn-outline-warning" for="btnradio2">Raty malejące</label>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="dict-text d-none d-lg-block" style="text-align: justify;">
                <p>
                    <strong>Oprocentowanie kredytów hipotecznych</strong> - jest pochodną stopy procentowej ustalanej przez Radę Polityki Pieniężnej oraz marży banków. Banki mają w&nbsp;ofercie kredyty hipoteczne ze zmiennym, stałym i&nbsp;okresowo stałym oprocentowaniem. Te pierwsze wiążą się z&nbsp;największym ryzykiem, ponieważ jeżeli poziom stawki referencyjnej obniża się lub rośnie, bank odpowiednio przelicza oprocentowanie kredytu. Najbezpieczniejsze są kredyty o stałym oprocentowaniu obowiązującym przez cały czas kredytowania.<br>
                    <br>
                    <strong>Rata kapitałowa</strong> - kapitał pozostały do spłaty. <br>
                    <strong>Rata odsetkowa</strong> - są to odsetki od kapitału pozostałego do spłaty.
                </p>

                <p>
                    *Zmiana oprocentowania wiąże się ze zmianą stopy WIBOR, która jest powiązana ze stopą referencyjną Narodowego Banku Polskiego. Można zatem z dobrym przybliżeniem powiedzieć, że wzrost stopy referencyjnej NBP przełoży się na podobny wzrost stopy WIBOR, a w konsekwencji wzrost oprocentowania kredytów mieszkaniowych.
                </p>
            </div>

        </div>
        <div class="col-md-6">
            <div class="summary summary-parameters">
                <div class="row">
                    <div class="float-start">
                        <div class="summary-box">
                            <h1>Kwota kredytu</h1>
                            <div class="summary-value">
                                {{loanAmount | currency : "PLN"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="float-start summary-box">
                            <h2>Okres spłaty w miesiącach</h2>
                            <div class="summary-value">
                                {{loanMonths }}
                            </div>
                        </div>
                        <div class="float-start summary-box">
                            <h2>Oprocentowanie</h2>
                            <div class="summary-value">
                                {{interest | number :'1.2-2'}} % 
                                <span style="font-size: 18px; font-weight: 300; opacity: 0.7;">
                                    (WIBOR {{interestRate | number :'1.2-2'}}% + marża {{margin | number :'1.2-2'}}%)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="summary summary-calculation">
                <div class="row">

                    <div>
                        <div class="float-start summary-box">

                            <h1>Rata kredytu</h1>
                            <div style="font-size: 37px; margin-bottom: 5px;" class="summary-value">
                                {{loan.pierwszaRata?.rataKredytu | currency : "PLN"}}
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <div class="progress-labels">
                        <div class="float-start">RATA KAPITAŁ : {{loan.pierwszaRata?.kapitalPercentReal?.toFixed(2)}} %</div>
                        <div class="float-end">RATA ODSETKI : {{loan.pierwszaRata?.odsetkiPercentReal?.toFixed(2)}} %</div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [style.width.%]="loan.pierwszaRata?.kapitalPercent" aria-valuenow="loan.pierwszaRata?.kapitalPercent" aria-valuemin="0" aria-valuemax="100">{{loan.pierwszaRata?.kapital | currency : "PLN"}}</div>
                    <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="loan.pierwszaRata?.odsetkiPercent" aria-valuenow="loan.pierwszaRata?.odsetkiPercent" aria-valuemin="0" aria-valuemax="100">{{loan.pierwszaRata?.odsetki | currency : "PLN"}}</div>
                </div>
                <div class="row">
                    <div>
                        <div class="float-start summary-box">

                            <h2>Odsetki suma</h2>
                            <div class="summary-value">
                                {{loan.odsetkiSuma | currency : "PLN" }}
                            </div>

                        </div>
                        <div class="float-start summary-box">

                            <h2>Spłata razem</h2>
                            <div class="summary-value">
                                {{loan.splataRazem | currency : "PLN"}}
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
                <div style="font-size: 26px; color: #393939; font-weight: 400;" class="parameter-label">Symulacja spłaty kapitału</div>
                <br>
                <div>
                    <mat-slider thumbLabel [min]="1" [max]="loan.months" [step]="1" [(ngModel)]="symulacjaAktualnyMiesiac"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">1</div>
                    <div class="float-end">{{loan.months}}</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeSimulationMonth(-1)">-</button>
                        <input (keypress)="isValidInt($event)" type="text" class="form-control" (change)="changeSimulationMonthInput($event)" value="{{ symulacjaAktualnyMiesiac| number :'1.0' }}">
                        <span class="input-group-text">miesiąc</span>
                        <button class="btn btn-warning" type="button" (click)="changeSimulationMonth(1)">+</button>
                        <span class="input-group-text"> Rok : {{symulacjaAktualnyRok}}</span>

                    </div>
                </div>
                <br>
                <div class="summary summary-calculation">
                    <div>
                        <div class="float-start summary-box">

                            <h1>Rata kredytu</h1>
                            <div style="font-size: 37px; margin-bottom: 5px;" class="summary-value">
                                {{symulacjaAktualnyMiesiacObjekt.rataKredytu | currency : "PLN"}}
                            </div>

                        </div>
                        <div class="float-start summary-box">

                            <h1>Miesiąc spłaty</h1>
                            <div style="font-size: 37px; margin-bottom: 5px;" class="summary-value">
                                {{symulacjaAktualnyMiesiac}}
                            </div>

                        </div>
                        <div class="float-start summary-box">

                            <h1>Rok spłaty</h1>
                            <div style="font-size: 37px; margin-bottom: 5px;" class="summary-value">
                                {{symulacjaAktualnyRok}}
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <br>


                    <div>
                        <div class="progress-labels">
                            <div class="float-start">RATA KAPITAŁ : {{symulacjaAktualnyMiesiacObjekt.kapitalPercentReal?.toFixed(2)}} %</div>
                            <div class="float-end">RATA ODSETKI : {{symulacjaAktualnyMiesiacObjekt.odsetkiPercentReal?.toFixed(2)}} %</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="symulacjaAktualnyMiesiacObjekt.kapitalPercent" aria-valuenow="symulacjaAktualnyMiesiacObjekt.kapitalPercent" aria-valuemin="0" aria-valuemax="100">{{symulacjaAktualnyMiesiacObjekt.kapital | currency : "PLN"}}</div>
                        <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="symulacjaAktualnyMiesiacObjekt.odsetkiPercent" aria-valuenow="symulacjaAktualnyMiesiacObjekt.odsetkiPercent" aria-valuemin="0" aria-valuemax="100">{{symulacjaAktualnyMiesiacObjekt.odsetki | currency : "PLN"}}</div>
                    </div>
                    <div class="float-start summary-box">

                        <h2>Zapłacone odsetki</h2>
                        <div class="summary-value">
                            {{symulacjaZaplaconeOdsetki | currency : "PLN" }}
                        </div>
                    </div>
                    <div class="float-start summary-box">

                        <h2>Kapitał spłacony</h2>
                        <div class="summary-value">
                            {{( loanAmount - symulacjaAktualnyMiesiacObjekt.kwotaKredytuPozostala) | currency : "PLN" }}
                            <span style="font-size: 24px;font-weight: 300; opacity: 0.7;">({{ (loanAmount - symulacjaAktualnyMiesiacObjekt.kwotaKredytuPozostala) / loanAmount | percent :'2.2-2'}})</span>
                        </div>
                    </div>
                    <div class="float-start summary-box">

                        <h2>Kapitał do spłaty</h2>
                        <div class="summary-value">
                            {{symulacjaAktualnyMiesiacObjekt.kwotaKredytuPozostala | currency : "PLN" }}
                            <span style="font-weight: 300; opacity: 0.7;">({{symulacjaAktualnyMiesiacObjekt.kwotaKredytuPozostala / loanAmount | percent :'2.2-2'}})</span>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>

        </div>

    </div>
    <hr>
    <app-rent-simulation [loan]="loan"></app-rent-simulation>
    <br>
    <br>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Symulacja zmiany raty">
            <div class="tab-content" >
               <app-simulation *ngIf="isReady" [symulacja]="symulacja"></app-simulation>
            </div>
        </mat-tab>
        <mat-tab label="Harmonogram spłat">
            <div class="tab-content">
                <app-harmonogram *ngIf="isReady" [loan]="loan"></app-harmonogram>
            </div>
        </mat-tab>

        <mat-tab label="Symulacja zmiany kwoty kredytu">
            <div class="tab-content">
                <app-simulation-loan-amount *ngIf="isReady" [symulacja]="symulacja2"></app-simulation-loan-amount>
            </div>
        </mat-tab>
    </mat-tab-group>
    <br>
</div>
<br>
<br>