.summary{
    background: purple;
    color: white;
    padding: 10px;
    font-weight: 200;
}

.summary-parameters{
    background: rgb(20, 172, 0);
    color: white;
    padding: 10px;
    font-weight: 200;
    margin-bottom: 1px;
}

table td{
    min-width: 100px;
}

.center {
    padding: 14px 0;
    margin: 0px;
    line-height: 35px;
    }
    
.center2 {
    padding: 5px 0;
    margin: 0px;
    line-height: 20px;
 }

.slider-label
{
    width: 20px;
    display: inline-block;
    text-align: center;
    margin: 0px 5px;
}

.current-row{
    background: purple;
    color: white;
}
mat-radio-button
{
    margin: 0px 10px;
}

.tab-content
{
    padding: 20px;
}


.diff-amount{
    color: #d90000;
    font-size: 10px;
    font-weight: 400;
}

.diff-percent{
    font-size: 10px;
    color: #d90000;
    background: #ffdcdc;
    margin-left: 2px;
    border-radius: 4px;
    padding: 1px 4px;
    margin-right: 2px;
    font-weight: 400;

}

.diff-green .diff-amount{
    color: rgb(20, 172, 0);
}

.diff-green .diff-percent{
    color: rgb(20, 172, 0);
    background: rgb(23 177 3 / 21%);
}

.center-numeric {
    margin: auto;
    width: 50%;
    width: 200px;
  }

  .slider-numbers
  {
      height: 20px;
      margin-top: -20px;
  }
  .parameter-label
  {
      color: purple;
     margin-bottom: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
  }