<router-outlet></router-outlet>

<br>
<div class="container-xxl">
    <h1>Kalkulator kredytowy</h1>
    <div class="row">
        
        <div class="col-md-6">
            <div>
                <div class="parameter-label">Kwota kredytu</div>
                <div>
                    <mat-slider thumbLabel [displayWith]="formatAmount" aria-label="units" [min]="loanAmountMin" [max]="loanAmountMax" [step]="10000" [(ngModel)]="loanAmount"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">10K</div>
                    <div class="float-end">1M</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeAmount(-10000)">-</button>
                        <input (keypress)="isValidInt($event)" type="text" class="form-control" (change)="changeAmountInput($event)" value="{{ loanAmount| number :'1.0' }}">
                        <span class="input-group-text">PLN</span>
                        <button class="btn btn-warning" type="button"(click)="changeAmount(10000)">+</button>
                      </div>
                </div>
            </div>
            <div>
                <div class="parameter-label">Okres spłaty w latach</div>
                <div>
                    <mat-slider thumbLabel [min]="loanYearsMin" [max]="loanYearsMax" [step]="1" [(ngModel)]="loanYears"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">{{loanYearsMin}}</div>
                    <div class="float-end">{{loanYearsMax}}</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changeYears(-1)">-</button>
                        <input (keypress)="isValidInt($event)" type="text" class="form-control" (change)="changeYearsInput($event)" value="{{ loanYears| number :'1.0' }}">
                        <span class="input-group-text">lat</span>
                        <button class="btn btn-warning" type="button"(click)="changeYears(1)">+</button>
                      </div>
                </div>
            </div>

            <div>
                <div class="parameter-label">Oprocentowanie (WIBOR + marża)</div>
                <div>
                    <mat-slider thumbLabel [displayWith]="formatIntersetRate" [min]="interestRateMin" [max]="interestRateMax" [step]="0.05" [(ngModel)]="interestRate"></mat-slider>
                </div>
                <div class="slider-numbers">
                    <div class="float-start">{{interestRateMin}}%</div>
                    <div class="float-end">{{interestRateMax}}%</div>
                </div>
                <div class="center-numeric">
                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" (click)="changePercent(-0.05)">-</button>
                        <input (keypress)="isValidPercent($event)" (change)="changePercentInput($event)" type="text" class="form-control" value="{{ interestRate | number :'1.2-2' }}" >
                        <span class="input-group-text">%</span>
                        <button class="btn btn-warning" type="button"(click)="changePercent(0.05)">+</button>
                      </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="summary-parameters">
                <div>
                    <p class="center" style="font-size: 30px;">Kwota kredytu : <b>{{loanAmount | currency : "PLN"}}</b></p>
                </div>
                <div>
                    Okres spłaty w latach : <b style="font-size: 24px;">{{loanYears }}</b>
                </div>
                <div>
                    Oprocentowanie (WIBOR + marża) : <b style="font-size: 24px;">{{interestRate | number :'1.2-2'}} %</b>
                </div>
            </div>
            <div class="summary">
                <div>
                    <p class="center" style="font-size: 30px;">Rata miesięczna : <b>{{loan.monthlyPayment | currency : "PLN"}}</b></p>
                </div>
                <div style="line-height: 30px;">
                    Odsetki suma : <b style="font-size: 24px;">{{loan.odsetkiSuma | currency : "PLN" }}</b>
                </div>
                <div style="line-height: 30px;">
                    Spłata razem  :&nbsp; <b style="font-size: 24px;">{{loan.splataRazem | currency : "PLN"}}</b>
                </div>
            </div>

        </div>
        
    </div>
    <hr class="d-none d-md-block">
    <br>
    <mat-tab-group>
        <mat-tab label="Symulacja zmiany stóp procentowych">
            <div class="tab-content">
                <!--  <h1>Symulacja zmiany stóp procentowych</h1> -->
                <table mat-table [dataSource]="symulacja" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->


                    <ng-container matColumnDef="stopaProcentowa">
                        <th mat-header-cell *matHeaderCellDef> % </th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.interestRate}} % </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rata">
                        <th mat-header-cell *matHeaderCellDef> Rata </th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.monthlyPayment | currency : "PLN" }}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.monthlyPaymentDiff < 0}">
                                <span class="diff-amount">{{element.monthlyPaymentDiff | currency : "PLN"}}</span> <span class="diff-percent">{{element.monthlyPaymentDiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rataOdsetki">
                        <th mat-header-cell *matHeaderCellDef> Odsetki</th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.pierwszaRata.odsetki | currency : "PLN" }}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetkiDiff < 0}">
                                <span class="diff-amount">{{element.odsetkiDiff | currency : "PLN"}}</span> <span class="diff-percent">{{element.odsetkiDiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="rataKapital">
                        <th mat-header-cell *matHeaderCellDef> Kapitał </th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.pierwszaRata.kapital | currency : "PLN" }}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.kapitalDiff > 0}">
                                <span class="diff-amount">{{element.kapitalDiff | currency : "PLN"}}</span> <span class="diff-percent">{{element.kapitalDiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="10odsetki">
                        <th mat-header-cell *matHeaderCellDef> Odsetki 10 lat</th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.odsetkiSuma10Lat | currency : "PLN"}}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetki10Diff < 0}">
                                <span class="diff-amount">{{element.odsetki10Diff | currency : "PLN"}}</span> <span class="diff-percent">{{element.odsetki10DiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="10kapital">
                        <th mat-header-cell *matHeaderCellDef> Kapitał 10 lat</th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.kapitalSuma10Lat | currency : "PLN"}}</span>
                            <div *ngIf="!element.current && loanYears > 10" [ngClass]="{'diff-green': element.kapital10Diff > 0}">
                                <span class="diff-amount">{{element.kapital10Diff | currency : "PLN"}}</span> <span class="diff-percent">{{element.kapital10DiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="odsetkiSuma">
                        <th mat-header-cell *matHeaderCellDef> Odsetki suma </th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.odsetkiSuma | currency : "PLN"}}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.odsetkiSumaDiff < 0}">
                                <span class="diff-amount">{{element.odsetkiSumaDiff | currency : "PLN"}}</span> <span class="diff-percent">{{element.odsetkiSumaDiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="calyKoszt">
                        <th mat-header-cell *matHeaderCellDef>Koszt całkowity</th>
                        <td [ngClass]="{'current-row': element.current}" mat-cell *matCellDef="let element">
                            <span> {{element.splataRazem | currency : "PLN"}}</span>
                            <div *ngIf="!element.current" [ngClass]="{'diff-green': element.splataRazemDiff < 0}">
                                <span class="diff-amount">{{element.splataRazemDiff | currency : "PLN"}}</span> <span class="diff-percent">{{element.splataRazemDiffPercent | percent}}</span>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="simulationDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: simulationDisplayedColumns;"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Harmonogram spłat">
            <div class="tab-content">
                <!--  <h1>Harmonogram spłat</h1> -->
                <table mat-table [dataSource]="loan.harmonogram" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="miesiac">
                        <th mat-header-cell *matHeaderCellDef> Miesiąc </th>
                        <td mat-cell *matCellDef="let element"> {{element.numerMiesiaca}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="kwota">
                        <th mat-header-cell *matHeaderCellDef> Kwota do spłaty</th>
                        <td mat-cell *matCellDef="let element"> {{element.kwotaKredytu | currency : "PLN"}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="odsetki">
                        <th mat-header-cell *matHeaderCellDef> Odsetki </th>
                        <td mat-cell *matCellDef="let element"> {{element.odsetki | currency : "PLN"}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="kapital">
                        <th mat-header-cell *matHeaderCellDef> Kapitał </th>
                        <td mat-cell *matCellDef="let element"> {{element.kapital | currency : "PLN"}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    <br>
</div>
<br>
<br>